@import "nullstyle.css";
@import "header.css";
@import "fotter.css";

.video-main {
    flex: 1 1 auto;
}

.video {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 0 3rem 0;
}
.videoarmy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/*STATISTICS*/
.statistics {
    margin: 0 0 2rem 0;
}
.statistics_heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.statistics_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 17rem));
    justify-content: center;
    justify-items: center;
    margin: 0 1rem;
}
.state {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E0DBCB;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}
.state img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.state svg g g path {
    fill: transparent;
    stroke-width: 10;
    stroke: #ffffff;
}
/*STATISTICS*/

/*NEWS*/
.news_container {
    max-width: 1250px;
    margin: 2rem auto 0;
    padding: 0 25px;
}
.news_heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.news_text {
    margin: 0 0 1rem 0;
    font-size: 16px;
    line-height: 1.25;
}
.news_text span {
    font-weight: bold;
    font-family: cursive;
}
/*NEWS*/

/*MAP*/
.map {
    margin: 0 0 2rem 0;
}
.map-heading {
    text-align: center;
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
}
.map-container {
    max-width: 1200px;
    margin: 0 auto;
}

.map-container iframe {
    width: 100%;
    border-radius: 10px;
    height: 30rem;
}
/*MAP*/

/*MOBILE*/
@media (min-width: 1024px) {
    .statistics_container {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 768px) {
    .statistics_heading, 
    .news_heading,
    .map-heading {
        font-size: 2rem;
    }
}
/*MOBILE*/

